
@{
    ViewBag.Title = "EmployeeDashboard";
}

<h3><u>Employee Dashboard</u></h3>
<form action="" method="post">
    <a href="/Admin/EmployeeDashboard">Requests</a>
    <a href="/Admin/ResAdmin"> Restaurants </a>
    <a href="/Admin/EmployeeAdmin"> Employees </a>
    <a href="/Admin/Login"> Logout</a>
    <br />
    <br />
    <br />
</form>

