
@{
    ViewBag.Title = "Login";
}

<a href="Home">Home</a>

<h2>Login</h2>
<form action="" method="post">

    E-mail:
    <input type="text" placeholder="Enter your e-mail" name="email" class="form-control" />
    <br />
    Password:
    <input type="text" placeholder="Enter your password" name="password" class="form-control" />
    <br />
    <input type="submit" value="Login" class="btn btn-success" />
    <br />
    Don't have an account? <a href="/Admin/Registration">SIGN UP</a>
    <br />
</form>


